body {
  /* background-color: yellow; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;
}

#TopicSelect {
  justify-content: left;
  margin-top: 1%;
  margin-right: 90%;
  width: 10%;
  min-width: 7rem;
}

.ButtonBack {
  justify-content: left;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 90%;
  width: 5%;
  min-width: 7rem;
}

.App {
  text-align: center;
}

.header {
  text-align: center;
  /* background-color: aqua; */
  border-bottom: 3px solid black;
}

.Articles{
  /* background-color: rgb(159, 255, 159); */
  border-top: 3px solid black;
  padding: 2%;
  padding-top: 0%;
}

ul {
  list-style: none;
  padding: 0%;
}

.ArticleList {
  background-color: pink;
  border: 3px solid black;
  padding-left: 1%;
  padding-right: 1%;
}

.ArticleListGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0%;
}

.lhs {
  text-align: left;
  margin: 0%;
  margin-bottom: 2%;
}

.rhs {
  text-align: right;
  margin: 0%;
  margin-bottom: 2%;
}

h3 {
  text-transform: capitalize;
}

.ArticlePage {
  background-color: pink;
  border: 3px solid black;
  padding-left: 1%;
  padding-right: 1%;
}

#ArticlePage__SubHead {
  padding-left: 1%;
  text-align: left;
  width: 50%;
}

#ArticlePage__RhSubHead {
  justify-content: right;
  text-align: right;
  padding-right: 1%;
  text-transform: capitalize;
  width: 50%;
}

.ArticleBody {
  background-color: white;
  border: 2px solid black;
  margin-right: 1%;
  margin-left: 1%;
  padding: 1rem;
  text-align: justify;
}

.voteButton {
  margin: 2px;
}

@media only screen and (max-width: 600px) {
  .voteButton {
    font-size: 160%;
    width: 3rem;
    height: 3rem;
  }
}

.TitleInput {
  justify-content: left;
  margin-right: 90%;
  width: 10%;
  min-width: 7rem;
}

.CommentInput {
  justify-content: left;
  width: 90%;
  min-width: 7rem;
}