body {
  /* background-color: yellow; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;
}

.App {
  text-align: center;
}

.header {
  text-align: center;
  /* background-color: aqua; */
  border-bottom: 3px solid black;
}

/* h1 { */
  /* font-size: 500%; */
/* } */

.Articles{
  /* background-color: rgb(159, 255, 159); */
  border-top: 3px solid black;
  padding: 2%;
  padding-top: 0%;
}

ul {
  list-style: none;
  padding: 0%;
}

.ArticleList {
  background-color: pink;
  border: 3px solid black;
  padding-left: 1%;
  padding-right: 1%;
}

.ArticleListGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0%;
}

.lhs {
  text-align: left;
  margin: 0%;
  margin-bottom: 2%;
}

.rhs {
  text-align: right;
  margin: 0%;
  margin-bottom: 2%;
}

